
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1, h2 {
  margin: 0 0 0 0;
  color: #798153;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-weight:bolder;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: forwards;
}

h2 {
  font-weight:lighter;
  opacity:0;
  animation: fadeIn 1s ease-out 0.6s;
  animation-fill-mode: forwards;
}

.dup-hi {
  color: "e1b47c"
}

@media (min-width: 0px) {
  h1 { font-size: 4rem; }
  h2 { font-size: 2rem; }
}

@media (min-width: 400px) {
  h1 { font-size: calc(3rem + 3vw); }
  h2 { font-size: calc(2rem + 2vw); }
}

@media (min-width: 1001px){
  h1 { font-size: 4vw; }
  h2 { font-size: 3.5rem; }
}

.background-svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.game-svg {
  width: 100%;
  transform: rotateX(0.5turn) scaleX(-1) translateY(99.9%);
  position: absolute;
}

.header-container {
  display: inline-block;
  width: 100%;
  padding-bottom: 70vh;
  
  vertical-align: middle;
  overflow: hidden;
  z-index: -1;
}

.projects-container {
  display: inline-block;
  width: 100%;
  padding-bottom: 70vh;
  padding-top: 30vh;
  vertical-align: middle;
  overflow: hidden;
  z-index: -1;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
    margin-left: 1vw;
    margin-bottom: 0;
  }
}