
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1, h2 {
  margin: 0 0 0 0;
  color: #798153;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 4vw;
  font-weight:bolder;
  animation: fadeIn 2s ease-out;
  animation-fill-mode: forwards;
}

h2 {
  font-size: 3vw;
  font-weight:lighter;
  opacity:0;
  animation: fadeIn 2s ease-out 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5vw;
  }
}

.mcs {
  text-decoration: none;
  color: #798153;
  box-shadow: inset 0 -0.1em #e1b47c;
  transition: .2s linear
}

.mcs:hover {
  color: #e1b47c;
  box-shadow:none
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  display: inline-block;
  position: fixed;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
    margin-left: 1vw;
    margin-bottom: 0;
  }
}