.defaultButton {
    text-decoration: none;
    color: #798153;
    box-shadow: inset 0 -0.1em #e1b47c;
    transition: 0.2s linear
  }
  
  .defaultButton:hover {
    color: #e1b47c;
    box-shadow:none
  }